@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
    background-color: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.swiper-wrapper {
    overflow: visible;
}

.swiper-pagination {
    position: absolute;    
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    bottom: 0 !important;
    width: 100% !important;
    margin-top: 2rem !important;        
}

.swiper-pagination  span {
    background-color: #262626;
}

.swiper-pagination-bullet-active {
width: 20px !important;
border-radius: 10px !important;
}

.swiper-button-prev, 
.swiper-button-next, 
.swiper-rtl {
color: #00e170 !important;
}

.my-sticky {
    position: sticky;
    top: 0;
    background-color: red;
}